@import '../../../styles/variables';
@import '../../../styles/mixins';

.pagination_bullet {
  @include circle($size-l);

  font-family: inherit;
  font-weight: 700;
  font-size: $size-s;
  color: $color-black;

  border: 1px solid $color-gray-light;
  background-color: $color-gray-light;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: $color-white;
  }
}

.pagination_bullet_active {
  background-color: $color-white;
}