$color-green-light: #38c403;
$color-green-dark: #289001;
$color-gray-light: #e7e6e6;
$color-gray-dark: #cccccc;
$color-red-light: #ff0000;
$color-red-dark: #cc0000;
$color-blue: #375eff;
$color-white: #ffffff;
$color-black: #000000;

$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 48px;
$size-xxl: 64px;