.page {
  display: flex;
  flex-direction: column;
  gap: 16px;

  min-height: 100vh;

  @media (min-width: 640px) {
    gap: 24px;
  }

  @media (min-width: 1024px) {
    gap: 32px;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #000000;

  @media (min-width: 640px) {
    font-size: 32px;
  }

  @media (min-width: 1024px) {
    font-size: 48px;
  }
}

.header_wrapper {
  background-color: #e7e6e6;

  padding: 16px 20px;

  @media (min-width: 640px) {
    padding: 24px 32px;
  }

  @media (min-width: 1024px) {
    padding: 32px 48px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.add_button {
  padding: 8px 12px;

  font-family: inherit;
  font-weight: 700;
  color: #ffffff;

  border-radius: 8px;
  background-color: #38c403;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: #289001;
  }

  @media (min-width: 1024px) {
    padding: 16px 24px;
    font-size: 16px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;

  @media (min-width: 640px) {
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

.main_wrapper {
  flex-grow: 1;
  padding: 0 16px;

  @media (min-width: 640px) {
    padding: 0 32px;
  }
}

.superhero_info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;

  margin-bottom: 32px;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.description_item_title {
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.actions_button {
  display: block;
  width: 100%;

  padding: 16px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  border-radius: 8px;

  transition: background-color 0.2s linear;
}

.actions_button_edit {
  background-color: #24a0ed;

  &:hover {
    background-color: #118ad4;
  }
}

.actions_button_delete {
  background-color: #ff0000;

  &:hover {
    background-color: #cc0000;
  }
}

.footer_wrapper {
  padding: 16px 20px;

  background-color: #e7e6e6;

  @media (min-width: 640px) {
    padding: 24px 32px;
  }

  @media (min-width: 1024px) {
    padding: 32px 48px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
}