@import '../../styles/variables';

.loading_text {
  font-weight: 700;
  font-size: $size-m;
}

.superhero {
  display: grid;
  grid-template-columns: 1fr;
  gap: $size-xl;

  margin-bottom: $size-l;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: $size-m;
}

.delete_button {
  width: 100%;

  padding: $size-s;

  font-family: inherit;
  font-size: $size-s;
  font-weight: 700;
  color: $color-white;
  text-align: center;

  border-radius: $size-xs;
  background-color: $color-red-light;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: $color-red-dark;
  }

  @media (min-width: 939px) {
    display: none;
  }
}

.reload_button {
  padding: $size-s;

  border-radius: $size-xs;

  transition: background-color 0.2s linear;
}