@import '../../../styles/variables';
@import '../../../styles/extends';

.pagination_bullet {
  position: relative;

  width: 100%;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  border: 2px solid $color-gray-light;
  background-color: transparent;

  transition: border-color 0.2s linear;

  &:hover {
    border-color: $color-black;
  }
}

.pagination_bullet_active {
  border-color: $color-black;
}

.pagination_bullet_image_container {
  @extend %absoluteCenterAlignment;
  width: 80%;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  @extend %backgroundCenterCoverAlignment;
}
