@import '../../../styles/variables';

.pagination {
  display: grid;
  gap: $size-xs;
  grid-template-columns: repeat(4, 1fr);

  @media (min-width: 939px) {
    display: flex;
    flex-direction: column;

    flex-basis: 16%;
    flex-shrink: 1;
  }

  @media (min-width: 1024px) {
    gap: $size-s;
  }
}