@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/extends';

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $size-xs;

  flex-shrink: 0;

  padding: 16px;

  border: 1px solid $color-gray-light;
  border-radius: 8px;

  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: 10px 5px 5px rgba($color: $color-black, $alpha: 0.1);
  }
}

.info {
  display: flex;
  align-items: center;
  gap: $size-s;

  @media (min-width: 640px) {
    gap: $size-m;
  }
}

.image_container {
  flex-shrink: 0;

  @include circle(40px);

  @extend %backgroundCenterCoverAlignment;

  @media (min-width: 640px) {
    @include square(60px);
  }

  @media (min-width: 1024px) {
    @include square(72px);
  }
}

.nickname {
  font-weight: 700;
  font-size: $size-s;

  @media (min-width: 640px) {
    font-size: $size-m;
  }
}

.detailsButton {
  flex-shrink: 0;

  padding: 8px 12px;

  font-family: inherit;
  font-weight: 700;

  border: 1px solid $color-gray-light;
  border-radius: 8px;
  background-color: $color-gray-light;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: $color-white;
  }

  @media (min-width: 640px) {
    padding: 12px 16px;
  }
}