@import '../../../styles/variables';
@import '../../../styles/mixins';

.pagination_nav_button {
  @include circle($size-l);

  border: 1px solid $color-gray-light;
  background-color: $color-gray-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size-xs;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: $color-white;
  }
}

.pagination_nav_button_disabled {
  opacity: 50%;
  pointer-events: none;
}

.pagination_nav_button_prev_icon {
  background-image: url('../../../assets/icons/icon-arrow-left.svg');
}

.pagination_nav_button_next_icon {
  background-image: url('../../../assets/icons/icon-arrow-right.svg');
}